<nav class="navbar navbar-expand-md fixed-top" id="topnav">
	<div class="container-fluid">
		<a id="sidenav-toggle">
			<i class="bi bi-chevron-right"></i>
			<i class="bi bi-chevron-left"></i>
		</a>
		<a id="home-link" href="index.html" class="navbar-brand hotdoc-navbar-brand">
			@include("brand-logo.html")
		</a>
		<div class="collapse navbar-collapse" id="navbar-wrapper">
			<ul class="navbar-nav" id="menu">
				@include("navbar_links.html")
			</ul>
			<div class="d-none d-md-block navbar-text navbar-center">
				@include("navbar_center.html")
			</div>
		</div>
		<form class="ms-auto d-flex align-items-center" id="navbar-search-form">
			<input type="text" class="form-control form-control-sm" name="search" id="sidenav-lookup-field" placeholder="search" disabled="disabled">
			<span id="search-mgn-glass" class="ms-1"><i class="bi bi-search"></i></span>
		</form>
		<i title="light mode switch" class="bi bi-sun-fill ms-2" id="lightmode-icon"></i>
		<button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-wrapper" aria-controls="navbar-wrapper" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a id="toc-toggle" class="ms-2">
			<i class="bi bi-chevron-right"></i>
			<i class="bi bi-chevron-left"></i>
		</a>
	</div>
</nav>
